[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-swordfish
Exec=harbour-swordfish
Categories=Education;Office;Utility;
Name=Swordfish

